<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>azul_nevoa</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-azul_nevoa</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>azul_oceano</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-azul_oceano</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>carvao</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-carvao</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cinza_escuro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-cinza_escuro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cinza_medio</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-cinza_medio</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fosco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-fosco</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>grafite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-grafite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>titanio</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-titanio</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Stacked</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.stacked.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stacked</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>O Stacked mostra compromissos do Calendário em Hoje e Em breve, e exporta tarefas para o Calendário.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>O Stacked exporta tarefas com data e hora como eventos no Calendário.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>O Stacked exporta tarefas como lembretes para aparecerem no Calendário do iPhone com só o título.</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
